extends inicio

block links
   link(type='text/css', rel='stylesheet', href='./css/mochilas.css')
   link(type='text/css', rel='stylesheet', href='./css/faq.css')

block contenido
    br
    br
    h2 Preguntas Frecuentes
    hr.line
    p
        h3  ¿Qué es la última hora? 
        |La última hora es una página web que se encarga de vender útiles escolares.
        
        h3  ¿Por qué se llamó "La Última hora"?
        |El nombre surgió, debido a que la gran mayoría de compradores esperan la última hora para hacer las compras escolares. 
        h3  ¿Cómo surgió la idea?
        
        |Esta idea surge al ver como a lo largo de la época del regreso escolar, tiendas, almacenes y centros comerciales, se llenan de personas en busca de útiles escolares generando largas filas para pagar los productos, tráfico vehicular y pérdida de tiempo para las personas.
        h3  ¿Propósito de la página web La última hora?
        |Esta página tiene como propósito hacer más cómodo y rápido el proceso de compra de estos materiales, pudiendo visualizar y comprar todos los productos que se necesitan en una sola página web rápida y cómodamente desde cualquier lugar de Panamá con conexión a internet.
        h3  ¿Servicios extras?
        |Muchas veces se observa que los estudiantes olvidan llevar materiales importantes para la escuela, y por lo que es común, tienden a acordarse a “la última hora“, por ello la página tiene un servicio de envio rápido donde los estudiantes pueden buscar el producto que necesitan, solicitarlo y en pocas horas se le hará llegar.

    