extends inicio

block links
    link(type='text/css', rel='stylesheet', href='./css/login.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascript/login.js')
    
    
block contenido
    .container
      .row
        img.cart.col-md-6(src="./fotos/logo.png") 
        .col-md-6
            .panel.panel-login
                .panel-heading
                    .row
                        .col-xs-6
                            a#login-form-link.active(href='#') Iniciar Sesi칩n
                
                        .col-xs-6
                            a#register-form-link(href='#') Registrarse
                    hr
            
                .panel-body
                    .row
                        .col-lg-12
                            form#login-form(action='', method='post', role='form', style='display: block;')
                                .form-group
                                    input#correo.form-control(type='email', name='correo', tabindex='1', placeholder='Correo')
                                .form-group
                                    input#input_password.form-control(type='password', name='password', tabindex='2', placeholder='Contrase침a')
                    
                                .form-group.text-center
                                    input#remember(type='checkbox', tabindex='3', name='remember')
                                    label(for='remember')  Recordarme
                                .form-group
                                    .row
                                        .col-sm-6.col-sm-offset-3
                                            input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Entrar')
                                .form-group
                                    .row
                                        .col-lg-12
                                            .text-center
                                                a.forgot-password(href='https://phpoll.com/recover', tabindex='5') Olvidaste la contrase침a?
                  
                            form#register-form(action='home', method='post', role='form', style='display: none;')
                                .form-group
                                    input#nombre.form-control(type='text', name='nombre', tabindex='1', placeholder='Nombre')
                    
                                .form-group
                                    input#apellido.form-control(type='text', name='apellido', tabindex='1', placeholder='Apellido')
                    
                                .form-group
                                    input#edad.form-control(type='text', name='edad', tabindex='2', placeholder='Edad')
                                .form-group
                                    input#email.form-control(type='email', name='correo', tabindex='2', placeholder='Correo')    
                                .form-group
                                    input#password.form-control(type='password', name='password', tabindex='2', placeholder='Contrase침a')   

                                .form-group
                                    .row
                                        .col-sm-6.col-sm-offset-3
                                            input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Registrarse ahora')
