extends inicio

block links
    link(type='text/css', rel='stylesheet', href='./css/login.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascript/login.js')
    
    
    
block contenido
        //img.cart.col-md-6(src="./fotos/cart.png")
        .col-md-12.fondo
            .panel.panel-login
                .panel-heading
                    .row
                        .col-xs-6
                            a#login-form-link.active(href='#') Iniciar Sesión
                
                        .col-xs-6
                            a#register-form-link(href='#') Registrarse
                    hr
            
                .panel-body
                    .row
                        .col-lg-12
                            form#login-form(method='POST' action="home")
                                            
                                h2.form-signin-heading.text-center Bienvenido
                                br            
                                label.sr-only(for='input1Email') Email address
                                |             
                                input#input1Email.form-control(type='email', placeholder='Email address', required='', autofocus='', name="correo")
                                // Spacer
                                hr.spacer
                                // Spacer
                                label.sr-only(for='inputpPassword') Password
                                |             
                                input#inputpPassword.form-control(type='password', placeholder='Password', required='', name="password")
                                |             
                                .checkbox
                                label
                                    input(type='checkbox', value='remember-me')
                                    |  Remember me
                                nav             
                                    li.log    
                                        a(href="home")
                                            | Entrar
                            
                            form#register-form(method='POST' action="/insertar")
                                    
                                    label.sr-only(for='inputnombre') Nombre
                                    |
                                    input#nombre.form-control(type='text', placeholder='Nombre', required='', name="nombre")
                                    br
                                    label.sr-only(for='inputapellido') Apellido
                                    |
                                    input#apellido.form-control(type='text', placeholder='Apellido', required='', name="apellido")
                                    br
                                    label.sr-only(for='inputedad') Edad
                                    |
                                    input#edad.form-control(type='number', placeholder='Edad', required='', name="edad")
                                    br
                                    label.sr-only(for='inputcorreo') Email
                                    |
                                    input#correo.form-control(type='email', placeholder='Email', required='' name="correo")
                                    br
                                    label.sr-only(for='inputpassword') Password
                                    |             
                                    input#password.form-control(type='password', placeholder='Password', required='', name="password")
                                    br
                                    button.btn.btn-lg.btn-login.btn-block(type='submit') Crear
                                         
        
    
   
      
        